body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

header nav {
    max-width: 1000px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #444;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
    max-width: 1000px;
    width: 100%;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
}

.contact-icon {
    color: #333;
    text-decoration: none;
    font-size: 3rem; /* Increase size as needed */
}

.contact-icon:hover {
    color: #007BFF; /* Change to your preferred hover color */
}

.big-icon {
    font-size: 4rem; /* Increase size as needed */
}

.publication {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.publication img {
    max-width: 150px;
    margin-right: 1rem;
}

.publication-details {
    flex: 1;
}

.publication h3 {
    margin: 0 0 0.5rem;
}

.publication p {
    margin: 0.5rem 0;
}

.publication-links a {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.publication-links a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
    position: relative;
}
